@using GuildHub.Common
@model GuildHub.Web.ViewModels.Home.IndexViewModel;
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="col-md-4 offset-8">
        <ul class="list-group">
            <li class="list-group-item">@Model.GamesCount Supported Games</li>
            <li class="list-group-item">@Model.GuildsCount Registered Guilds</li>
            <li class="list-group-item">@Model.UsersCount Registered Users</li>
            <li class="list-group-item">@Model.EventsCount Ongoing Events</li>
        </ul>

    </div>
</div>
